[2015-04-08 06:27] noeldelgado opened #1 "OS X - showing custom scrollbars even when having overlayed ones natively"
On Mac OS X 10.10.2, if you have `Preferences/General Show Scrollbar: Only when Scrolling` the lib will create custom scrollbars but, it **should NOT**.

I was diggin' the issue, it was added by [this commit](https://github.com/noeldelgado/gemini-scrollbar/commit/86db1db2202895363e5844635598f4ff26855cff). On that commit I was trying to solve an issue when `::-webkit-scrollbar` was declared with ei

[2015-04-08 06:38] #1 closed

[2015-04-08 07:00] noeldelgado opened #2 "Remove SCROLLBAR_WIDTH fn check IIFE"
If for some reason, the script was loaded on the `head`, the `scrollbarWidth` fn check will thrown an error due to the immediately-invoked function expression (IIFE) making the lib unusable.

Removing the IIFE and checking the `scrollbarWidth` until instantiation will remove that error.

[2015-04-08 07:02] #2 closed

[2015-04-12 18:40] noeldelgado opened #3 "add npm & bower version badges"
visual feedback to keep things in sync

[2015-04-12 18:42] #3 closed

[2015-05-12 02:10] pklada opened #4 "Easy way to get percent scrolled"
It would be nice to easily be able to get the % scrolled rather than having to calculate ourselves (which can be kind of messy). This could be used for things like displaying shadows, etc, based on scroll %.

Something like
`this.scroll.getScrolledPercent() // .4`

(or if you have a good way to solve this without using private methods/vars that would be cool too)

[2015-05-14 02:03] noeldelgado opened #5 "getViewElement method returning null if the scroll bars were not created"
Right now the method `getViewElement` will return `null` if the scroll bars were not created.

Defaulting the reference returned by this method to the `element` passed during instantiation will mostly solve this issue because if the scroll bars are not created at all this element is the one that should have the scrolling behaviour anyways.

So, if you are relying on this method for things like get

[2015-05-14 02:05] #5 closed

[2015-05-14 03:32] noeldelgado commented on #4
Hey Pete! Thanks for your suggestion.

Because of this issue I noticed an existing bug and fixed it #5, so thanks a lot.

From v1.2.3 there is a method that returns the scrollable element `getViewElement()`. So, if you feel like handling this on your side, something like this should work:

[code]

The snipped above will return a number between the range of 0 and 100.

Now, I will try to explain wh

[2015-05-14 03:47] pklada commented on #4
Makes sense, thanks! I currently am handling it on our end, it would just be a nice-to-have. We are moving from jscrollpane to this library, and they had a similar method. We mainly use it to show/hide top/bottom shadows during scroll (in order to indicate if there is scrollable content).

[2015-06-21 14:47] flexphperia opened #6 "onUpdate callback - request"
How to track scroll position on user interaction?
I'd would be nice to have callback passed to options called everytime position changes.

[2015-06-21 15:16] flexphperia opened #7 "scrollbar elements always removed on destroy() no matter what createElements option is"
When ```createElements``` option is set to ```false``` plugin should not destroy scrollbar and view div's when called ```destroy()``` method.

[2015-06-21 23:48] #7 closed

[2015-06-21 23:55] noeldelgado commented on #7
Thanks for the report, I also added a new example to test this issue, you can find it on the `examples` folder, file `05-destroy.html`.

[2015-06-22 00:06] noeldelgado commented on #6
Hi @flexphperia, you can subscribe to the scroll event if you need it like so:

[code]

Let me know if that works for you.

[2015-06-22 06:36] flexphperia commented on #6
Yeah I know that should work but when you attach event listener using jquery:
```$('div').scroll(function(){   });```
 it not work so I modified plugin to have callback ```onScroll```

[2015-06-22 06:43] flexphperia commented on #7
Now it looks good but, now when calling ```destroy``` when ```createElements = false``` references to document and window are not cleaned.
I'm not sure that I want ```gm-prevented``` added to my container after destroy. Maybe destroy method should get one parameter to remove everything or not?

Another problem is that when when ```createElements = false``` in ```create``` method plugin re aranges

[2015-06-22 06:47] flexphperia opened #8 "change default class names by plugin options"
It would be nice to have the ability to change default gemini class names, for example passing it names into options.

[2015-06-22 09:42] flexphperia opened #9 "support for scrollbars that are not full client size - proposition"
Now plugin does not support scrollbar width/height that is smaller than clientWidth/clientHeight.

Replace ```_mouseMoveDocumentHandler``` method with this:
[code]

[2015-06-22 10:07] flexphperia commented on #9
noeldelgado, can you review this change?
It works fine, but sometimes (on different scroll sizes) thumb do not touch end border of scrollbar when scrolled to end.

[2015-06-22 17:38] noeldelgado commented on #6
You can still attach the event using jquery after running the `create` method:

[code]

That should work as expected.

[2015-06-22 17:39] flexphperia commented on #6
As I remember it was not working.

[2015-06-22 18:31] noeldelgado commented on #8
What problem/s are you trying to solve with this?
curious about your request and see if we can solve it in other way

[2015-06-23 01:50] noeldelgado commented on #6
Weird, it works for me, [check out this bin](http://jsbin.com/qaraxokota/edit?js,output)

I think the key is that you need to call the `create` method before binding.

[2015-06-23 05:09] flexphperia commented on #8
Nothing special, just wanna use my own used in project naming convention.

[2015-06-23 05:34] noeldelgado commented on #9
You are right, I just tried and I can confirm. This also happens if you put some offsets for the `gm-scrollbar -vertical` and/or `gm-scrollbar -horizonta` elements. e.g. `top: 20px; bottom: 20px`.

I also found that the `_clickVerticalTrackHandler` and `_clickHorizontalTrackHandler` methods will need to be fixed as well.

Changing
[code]

and

[code]

Do you want to do the PR? otherwise I can take

[2015-06-23 06:39] flexphperia commented on #9
Thanks. Sorry I dont know what is "PR" so better you do it :)

[2015-06-23 07:11] noeldelgado commented on #9
PR = Pull Request

How you ever going into the process of forking and contributing to a project before?

If you want to do it I and more happy to assist you in any way I can, you can contact me via email if you want (pixelia.me@gmail.com).

If you do not feel like doing it right now, no problem, I just think it could be a good chance in case you haven't done it before :)

[2015-06-23 07:40] flexphperia commented on #9
Thanks but I'm only commenting and submiting bugs. I'm fine with this for now. I have own something like repository when I collect plugins with changes made by me :)

[2015-06-23 07:41] noeldelgado commented on #9
Ok, cool :+1:

[2015-06-23 08:13] #9 closed

[2015-06-29 01:52] noeldelgado commented on #7
Hey @flexphperia, just fixed those issues on this commit fdd8b4c.

No more `gm-prevented` added after calling `destroy`, no more elements appended on the `create` method if `createElements` option is `false` and document and window references are now cleaned on `destroy`.

Thanks!

[2015-06-29 11:48] flexphperia commented on #7
@noeldelgado references still not cleared when ```SCROLLBAR_WIDTH === 0```
Also there should be: ```this._viewElement = this.element = null;```

[2015-06-29 11:53] flexphperia opened #10 "support for custom thumb size"
When I tryin to set custom thumbnail width using css like this:
[code]
Plugin calculations works wrong.
It would be nice to have additional options:  ```minThumbSize``` and  ```maxThumbSize``` to specify in px.

[2015-06-29 11:53] flexphperia commented on #6
Works fine, thanks.

[2015-06-29 11:53] #6 closed

[2015-08-17 14:45] karendelakaren opened #11 "Classnames don't get added to the elements"
This part seems to be breaking the code for me, it won't add the class names to the elements
[code]
The addClass function doesn't accept a string with spaces ('gm-scrollbar -vertical' and 'gm-scrollbar -horizontal') and it also seems to want the element parameter without .className

[2015-08-18 04:00] #11 closed

[2015-08-18 04:14] noeldelgado commented on #11
Thank you @karendelakaren, fixed in 1.2.9.

[2015-09-08 02:30] Aedaeum opened #12 "[REQ] Add scrollTo method?"
Most, if not all popular scrollbar libraries have a `scrollTo` method that supports pixel positions as well as `top` `bottom` `left` `right` strings. If you can suggest an alternative solution with your current code base, I'd be happy to hear :)

Thanks in advance.

[2015-10-04 15:06] tianyingchun opened #13 "does this support mobile broswer touch events?"

[2015-10-04 22:29] noeldelgado commented on #13
Hi, did you read the README file? it shouldn't need to support touch events, in that case it should use the native scrollbars and the thing should still work as expected...

You can access the scrollable-element via `yourInstance.getViewElement()` and subscribe to any event you want/need.

If that doesn't answer your question, can you explain the problem/use-case you are dealing with?

[2015-10-06 01:36] #13 closed

[2015-10-06 14:57] tianyingchun commented on #13
yeah. i know your idear.

[2015-10-06 15:00] tianyingchun opened #14 "should add 'selected' class to scrollbars while dragging the bar"

[2015-10-06 15:55] noeldelgado commented on #14
What's the reason for that? are you trying to set different styles to the thumbs while dragging? if so, you can accomplish it using the `:active` CSS pseudo-class like so:
[code]

Does this work for you?

[2015-10-07 05:15] tianyingchun commented on #14
i will try it.but it may not work on ie9

[2015-10-07 16:43] noeldelgado commented on #14
Hum, I was not aware of that, please let me know how it goes, if that does not work I think we can add the class, no big deal. btw, I would rather go for `active` instead of `selected` for the class name.

[2015-10-08 04:21] tianyingchun commented on #14
yeah, maybe it need to add 'active' class, sometimes we dragging status, if mouse pointer move out the scrollbar, the `hover`, `:active` effect will lose.

[2015-10-27 19:32] tomazzaman commented on #12
+1

[2015-11-05 11:43] Dhaval8087 opened #15 "How I can assgine it to multiple divs."
I have a multiple divs which classname is same and I want to apply scrollbar to all div is it possible because if I will use
var myScrollbar = new GeminiScrollbar({
    element: document.querySelector('.my-scrollbar')
}).create();

it will take very first element how I can assign scroll to multiple element

[2015-11-05 18:23] noeldelgado commented on #15
Hi, you need to create an instance per every element.
The approach is up to you, the following is just an example:
[code]

[2015-11-06 07:50] Dhaval8087 commented on #15
@noeldelgado :Thanks I will check it .

[2015-11-17 17:13] Andreyco opened #16 "[Feature] Allow user to force Gemini"
On OSX, you get native scrolling experience, which is great.

Would you consider adding config option to force Gemini instead of native scrolling?
You might ask what's the benefit here. None, beside you can test behaviour when Gemini is enabled on other OSes/browsers without overlay scrollbars support. Basically, in DEV environment only.

If you don't mind this, I can create PR for this.

[2015-11-17 23:46] Andreyco commented on #16
I am glad, you like it :) Please, review created PR (#17). Waiting for your comments.

[2015-11-18 00:15] Andreyco commented on #16
I am glad, you like it :) Please, review created PR (#17). Waiting for your comments.

Also, I created PR in noeldelgado/react-gemini-scrollbar#12 repo to reflect this change.

[2015-11-19 06:53] #16 closed

[2015-11-21 02:23] #15 closed

[2015-11-30 13:36] smmoosavi opened #18 "Native (Ugly) scrollbars are visible after zoomout"
When I zoom out my page, Native scrollbars of browser become visible.

![gemini-scrollbar custom overlay-scrollbars with native scrolling mechanism for web applications](https://cloud.githubusercontent.com/assets/1582954/11472825/5d2727ec-9784-11e5-8c8a-39594984560d.png)

I guess this bug occurs because scrollbar width is changing during zoom in and zoom out.

## gemini-scrollbar version
1.3.0 and

[2015-12-09 05:43] henrygd commented on #12
In case anyone has a similar problem, you can adjust scroll position using the element returned by the getViewElement method.
[code]

[2015-12-10 12:31] noeldelgado commented on #18
Thanks for the report @smmoosavi!, I was able to replicate the issue, will try to look into it soon.

[2016-01-07 19:54] ashraffayad opened #20 "Support for right-to-left languages"
Nice work.
For the horizontal scrollbar, would be great to have support for right-to-left languages. Like 'Arabic','Hebrew','Farsi','Urdu'... etc.

[2016-01-08 01:37] noeldelgado commented on #20
Hi Ashraf, absolutely, that’s important.

I just made a quick test by setting the `direction: rtl;` css-declaration on my scrollable element and the `scroll` event works as expected. However if I click the scrollbar-track or if I try to drag the scroll-thumb then the behavior is broken.

Is that what you are referring to? or better, can you list the problems you are facing right now by using this

[2016-01-08 09:38] ashraffayad commented on #20
Hi noeldelgado,

Thanks for responding. I really like the scrollbar you created. Specially the elegant, simple css.
I created a "gist". with 2 horizontal scrollers. The second one has 'direction:rtl' in its style.

http://requirebin.com/?gist=0847f1bb9ef757414516

- On the latest Chrome, the scroll-thumb doesn't display at all.
- On the latest Firefox, the scroll-thumb displays and is correctly al

[2016-01-10 02:44] noeldelgado commented on #20
Thank you @ashraffayad!, that helps. ;)

For now, about the implementation, I am thinking about adding a new option e.i. `rtl: {Boolean} [false]`, which in case to be `true` it will add the `direction: rtl;` css-declaration to the `element` and handle the drag|click accordingly. Just need to find some time to work on it.

[2016-01-10 10:40] ashraffayad commented on #20
Usually the direction:rtl is set on the <html> element and it propagates down the dom tree.
for example ``` <html lang="ar" class="rtl"> ```

Would it be nicer to make the scrollbar "direction-sensitive" by default?
If the ```direction:rtl``` already exists somewhere up the dom tree, then there's no need to add it again in the plugin css-declaration.

You could easily detect that and invert the ca

[2016-01-10 11:26] noeldelgado commented on #20
@ashraffayad that's even better, like it :+1:

[2016-03-05 00:40] jfrederickson opened #24 "Gemini scrollbars do not display in Firefox/Linux/KDE"
Ran into this issue while using an application that uses gemini scrollbars - they won't display in my browser, instead falling back to native scrollbars. Here's a screenshot from the [demo page](http://noeldelgado.github.io/gemini-scrollbar/).

![nogeminiscroll](https://cloud.githubusercontent.com/assets/1923178/13544122/92016ed0-e240-11e5-9c74-443ee99bb874.png)

Browser is Firefox 44.0.2 on Kubun

[2016-03-08 14:26] noeldelgado commented on #24
Thanks for the heads-up :+1:

[2016-03-08 16:16] MattyBalaam commented on #24
This may be related to a Firefox issue where using the developer tools and starting touch-simulation mode (e.g. in responsive view), turns on a flag, which is then is not disabled automatically.

https://bugzilla.mozilla.org/show_bug.cgi?id=970346

[2016-05-05 14:15] ascariandrea opened #27 "ViewElement width should be calculated differently"
My `gm-scrollbar-container` has padding, so the `this._viewElement.style.width` is wrongly calculated.
The padding of `gm-scrollbar-container` should be considered to set the `_viewElement` width.

[2016-05-05 18:25] noeldelgado commented on #27
Thanks Andrea, yeah, I am aware of this issue, it should be fixed to mitigate implementation's problems.

In the meantime, you could try adding an extra element to hold the padding and wrap its children.
http://requirebin.com/?gist=77d954f3b69ffa8ac04930d95975bf7e

I am not saying this is the way to go, but that can fix the problem right away.

[2016-05-06 07:28] ascariandrea commented on #27
Yeah, I used that approach :)
Are you planning to resolve this soon?

[2016-06-07 04:40] elostoraweb opened #28 "conflict with scroll to top jquery code !"
Hello
thanks for a great work
gemini scrollbar has a conflict with scrollTop code , please see it here in jsfiddle
http://jsfiddle.net/neeklamy/RpPEe/

    <script>

	$(document).ready(function () {

    $(window).scroll(function () {
        if ($(this).scrollTop() > 100) {
            $('#backtop').fadeIn();
        } else {
            $('#backtop').fadeOut();
        }
    });

    $('#backtop

[2016-06-07 23:10] noeldelgado commented on #28
Hi, can you update the demo to actually use gemini-scrollbar? That way I may be able to help you.
Thanks.

[2016-06-08 02:37] elostoraweb commented on #28
Hi , this is working demo
http://mrsoom.com/scroll-issue/
sorry can't update Jsfiddle with actually demo files , it's don't work there !
https://jsfiddle.net/5xrnnpju/

thanks alot :)

[2016-06-08 03:13] noeldelgado commented on #28
Hi @elostoraweb, here is the updated demo https://jsfiddle.net/5xrnnpju/3/. When using gemini-scrollbar, you should use the `getViewElement` method to actually interact with the scroller, I pointed out on the readme, let me know if that wasn't clear, also, pls let me know if this works for you.

[2016-06-08 22:56] danwhite85 opened #29 "Object .gm-resize-trigger causes white block overlaying scrollable content on IE 11"
On IE 11 the inserted <object> (.gm-resize-trigger) is displayed as a white block overlaying the scrollable content. Adding visibility: hidden removes it, but I'm not sure if that breaks the <object>'s functionality.

Seems to work fine on 9 and 10, but I have not tested anything over IE11.

[2016-06-09 00:38] noeldelgado commented on #29
Thank you @danwhite85 , fixed in v1.4.1.

[2016-06-09 00:38] #29 closed

[2016-06-09 00:59] #28 closed

[2016-06-10 08:51] elostoraweb commented on #28
hi @noeldelgado
it's on now :+1: Thank for clarification , you've solved the problem
Regards :)

[2016-06-24 04:05] noeldelgado commented on #12
Hi everyone, I made a small module just for this, check it out: [pisces](https://github.com/noeldelgado/pisces).

Even if it still as "beta" you can use most of its method without any problem (`scrollToPosition`, `scrollToTop`, `scrollToRight`, `scrollToBottom`, `scrollToLeft`....) or you use any other "scroll-to" library of your preference. At the very end you can find an [example of how you can

[2016-06-24 04:05] #12 closed

[2016-06-24 04:07] #4 closed

[2016-06-24 04:29] noeldelgado commented on #14
Hi, it's been a while but I just tested the `:active` approach on different versions of Windows + IE and now I can confirm that it works ok.

[code]

Tested on:
* Win 10 - Edge
* Win 10 - IE11
* Win 8.1 - IE11
* Win 8 - IE10
* Win 7x64 - IE11
* Win 7x64 - IE10
* Win 7x64 - IE9x64
* Win 7x64 - IE9
* Win 7 - IE9
* Win Vista - IE9

Thanks!

[2016-06-24 04:29] #14 closed

[2016-06-25 03:44] #8 closed

[2016-06-25 03:44] #10 closed

[2016-07-21 10:06] WiS3 opened #30 "Scroll not working when hovering elements with position:absolute"
Hello, i have a div `#contentWrapper` with `position:relative`, the scrollbar is attached to this element and it is working fine, but inside i have some elements with `position:absolute`, and the scrolling doesn't work when the mouse is over those elements.
The native scrolling is working, but not with gm.

How i can solve this issue? Thanks

[2016-07-21 16:44] noeldelgado commented on #30
Hi @WiS3, can you please create a "bin" reproducing the problem?, you can use this one as a starting point http://requirebin.com/?gist=300eb3d11e731561815ceb088786815f, thanks.

[2016-07-27 02:41] lianyzhou commented on #30
i have the same problems

[2016-07-27 03:24] noeldelgado commented on #30
Hi @WiS3, @lianyzhou. I just tried that really quick and I am getting the same behaviour for both cases (not being able to scroll when hovering those elements). - http://requirebin.com/?gist=300eb3d11e731561815ceb088786815f

With that, I don't think it is a library problem, but the expected behaviour.

Tested on OS X Yosemite v10.10.3
* Firefox 47.0
* Chrome 51.0.2704.103
* Opera 38.0.2220.41

If

[2016-07-27 03:26] noeldelgado commented on #30
@WiS3, @lianyzhou: Btw, if your `absolute` elements are for pure decoration, try adding `pointer-events: none` to them. Let me know if that works for you.

[2016-07-27 06:06] Tarpsvo opened #34 "Scrollbar thumb's offset is wrong with a lot of content"
Once your content increases to more than ten thousand pixels in length (let's say like 30,000 pixels) and you scroll to the bottom, the scrollbar's thumb will go out of the rail's bounds (I would guess it is the percentages inaccuracy).

I'm horrible at explaining and it's early morning, so just check this sample (scroll to the bottom and watch the vertical thumb).
https://plnkr.co/edit/srL3ikhh1s

[2016-07-27 17:53] noeldelgado commented on #34
Hi @Tarpsvo, thanks for the report, I was able to replicate it (on Chrome).

I also noticed that the thumb size can become really really small on large contents, making it almost impossible to interact with, so I think that having a minimum height/width is the way to go.

I will work on this as soon as I am able.

Thanks!

[2016-07-27 19:33] Tarpsvo commented on #34
Hey!

Sorry, I forgot to include my environment variables. :) But yeah, you guessed it, I was using Chrome (for some reason I immediately assumed this would happen for all browsers).

But yeah, this bug (or missing feature, if I were to blame it on the lack of minimum height), forced me to move on to trying another scrollbar plugin (baron). I'll definitely follow your progress though. Thanks.

[2016-07-27 19:39] noeldelgado commented on #34
Thank you!

[2016-07-28 04:14] elostoraweb commented on #28
Hi @noeldelgado
 please , i used this code to make Bootstrap Navbar sticky when scrolling page  .
<script>
$('#nav').affix({
      offset: {
        top: $('header').height()
      }
});
</script>

i edit it with getViewElement to avoid conflict with gemini scrollbar  ,but not work
https://jsfiddle.net/5xrnnpju/3/
can you merge it in your edited example above ?
thanks alot

[2016-07-28 05:03] noeldelgado commented on #28
Sorry, I don't understand, did you forget to save the latest changes on jsbin? I cannot see any sticky header on there.

[2016-07-28 05:35] elostoraweb commented on #28
sorry @noeldelgado , i update the fiddle now
https://jsfiddle.net/ahmedcom/wpqo60rw/

[2016-07-28 15:00] elostoraweb commented on #28
a waiting your reply
thanks

[2016-07-28 18:53] noeldelgado commented on #28
https://jsfiddle.net/wpqo60rw/3/

[2016-08-02 16:59] #30 closed

[2016-08-08 11:48] yohannpoli commented on #29
Is this possible to reopen this issue please, have the same problem in 1.4.3 cf.

Check https://github.com/noeldelgado/gemini-scrollbar/commit/65dc5b679a1955122f9b583d387488a44fb45a37

Any workaround ? Visibiltiy hidden does not do the trick?

[2016-08-08 17:11] noeldelgado commented on #29
Hi @yohannpoli, in which browser are you having the issue?

Sadly, the `object` cannot be replaced with a `div`, the object is used to register the `resize` event and call the `update` method automatically, a `div` does not provide a resize event but the `object` does.

BTW, the resizer object was added on `1.4.0` and the latest patches (up to `1.4.3`) has been for this feature specifically, so, h

[2016-08-09 14:43] yohannpoli commented on #29
Issue on Win 7 with IE11.

I'm already manually update the scrollbar after adding/removing content, that's fine but i have to update all Gemini scrollbars in document when i resize the window, i don't want to register and manually trigger them.

After checking your code:

    var obj = document.createElement('object');
    addClass(obj, [CLASSNAMES.resizeTrigger]);
    obj.type = 'text/html';

[2016-08-09 18:36] noeldelgado commented on #29
`1.3.2` will do that for you, it registers the `window.resize` event and runs the `update` method.

[2016-08-09 18:48] elostoraweb commented on #28
@noeldelgado thanks million :+1:

[2016-08-25 19:49] RoboDonut opened #35 "TypeError: GeminiScrollbar is not a constructor"
new to this lib but am having issue getting it in. imports seem to be fine but i am getting constructor error
js
`var myScrollbar = new GeminiScrollbar({
            createElements:false,
            element: document.querySelector('.gm-scrollbar -vertical')
        });
        myScrollbar.create();`
html
`</div><div id="bigGuy">
            <div id="scrollbar" class="gm-scrollbar -vertical">

[2016-08-25 22:18] noeldelgado commented on #35
how do you know that?
how are you loading the lib? (script tag, bundle, etc)

[2016-09-15 08:45] desislavsd opened #36 "design fix"
Hi, I really like the way your plugin works!

However, zooming in/out the screen will reveal the native scrollbars. They are also visible before the plugin is applied, which is not a problem on initial load of the page, but when i dynamically add new elements.

I think this small improvement will do the job. It will be better if the `.gm-scroll-view` is absolutely positioned and has no fixed width

[2016-09-19 07:26] rajagopal14 opened #37 "#suggestion gemini-scrollbar not for a jquery?"

[2016-09-22 19:01] artsx opened #38 "Remove native scrollbar"
Hello,

There was in the plugin a way to hide all scrollbar default browser?
I would only see the scrollbar components and hide the browser by default, it's possible ?

Best regards,
<img width="243" alt="screen shot 2016-09-22 at 21 00 55" src="https://cloud.githubusercontent.com/assets/7711803/18762088/b04c2a54-8107-11e6-8ed9-39c8a2cb8968.png">

[2016-11-23 20:03] hellofantastic opened #39 "Update scrollbars in angular app"
So I have included the gemini scrollbars js <script src="js/content-scroller/index.js"></script> in the index.html of an angular app. They work on first visit to the view they are in... but then navigate to a different view and come back to the view they are in and the scrollbars are gone. How would I re initialize them ?

[2017-02-06 10:39] vlukyanoff opened #40 "Native scrollbar is visible in blocks with unfixed size"
If block has max-width but content less than max-width native scrollbar is visible.

https://jsfiddle.net/vbp6dro4/2/

[2017-02-15 06:58] hellofantastic commented on #39
So I fixed this by making a directive that calls an update in an outside js file  on routchangesuccess

[2017-02-15 06:58] #39 closed

[2017-03-03 12:32] vlukyanoff opened #41 "Thumb hasn't min height"
If there lots of elements in scrollable view, thumb is very small

[2017-03-06 05:48] noeldelgado commented on #41
Hi @vlukyanoff, I just published a new version (v1.5.0) which adds a new config option `minThumbSize`, its default value is `20`(px) [941455b].

Please let me know if that works for you.

Cheers.

[2017-03-06 05:48] #41 closed

[2017-03-06 06:10] noeldelgado commented on #34
Hi @Tarpsvo, I know we are not using gemini anymore but I want to give you an update regarding this issue.

I just published v1.5.0 which adds the feature to define the minimum size of the thumbs (height for vertical, width for horizontal)... the config option is `minThumbSize` and its default value is `20`(pixels).

Same demo using the new version: https://plnkr.co/edit/Gb5aTCo9eEiY0SkvI5xt?p=pre

[2017-03-06 06:10] #34 closed

[2017-03-06 06:19] noeldelgado commented on #38
Hi @artsx, sorry for the very late response.

Are you still using this library? if so, could you give me more information about which browser, OS you were using at that time?

The library should hide the browser scrollbars by default.

If you are not using this library anymore, can I close the issue? I am not able to replicate it.

Thanks.

[2017-03-06 06:23] noeldelgado commented on #37
Hi @rajagopal14, you can use this library with jQuery too.

[code]

[2017-03-06 06:23] #37 closed

[2017-03-06 06:29] #35 closed

[2017-03-06 07:13] vlukyanoff commented on #41
Hi @noeldelgado, I tested version 1.5.0, it works how I expected, thanks a lot!

Could you update dependency to v1.5.0 in https://github.com/noeldelgado/react-gemini-scrollbar ?

[2017-03-06 07:30] noeldelgado commented on #41
Hi Viacheslav, thanks for testing!

There is one thing I have to make sure before I update the dependency on react-gemini... in version 1.4.x of gemini it was introduced a feature which modifies the DOM structure (which as far as I remember, react does not like that at all), I think you can reproduce the issue by using the new version and appending new elements to the scroll-content dynamically, t

[2017-03-06 09:15] artsx commented on #38
Hi @noeldelgado,

Yes I always use the plugin, I've added CSS for hide on -webkit- and -moz- the scrollbar and media queries for remove CSS when it's tablet and mobile.

It's ok !
Thx

[2017-03-06 09:15] #38 closed

[2017-03-07 02:30] noeldelgado commented on #38
Thanks for your response, Arthur,

just as a side comment, you shouldn't need to add CSS for hiding and showing the scrollbars, in fact, that's what might cause the issue in the first place. I added a note in the README regarding this issue.

Just in case you want to double check if that was indeed the reason.

Thanks

[2017-03-07 06:46] noeldelgado commented on #41
updated

[2017-04-06 16:19] amaau opened #43 "add test to see if scrollbar is needed"
in update function, something like

[code]

[2017-04-14 07:36] user1736 commented on #18
Hi!
Are you going to look at this problem soon?

[2017-04-19 15:24] amaau opened #44 "add - drag thumb from anywhere on the track"
[code]

[2017-05-01 05:21] Kristinita opened #45 "[Question] ReferenceError: require is not defined"
### 1. Summary

I want to replace default browser body scrollbar to custom scrollbar. I can't do it, if I use Gemini-Scrollbar.

### 2. Settings

My `GeminiTest.html` file: **<https://codepen.io/Kristinita/pen/aWWqQE>**.

I create it as in [**official repository description**](https://github.com/noeldelgado/gemini-scrollbar).

### 3. Steps to reproduce

I reproduce the problem in a Chrome and Oper

[2017-05-01 15:37] Kristinita opened #46 "[Bug] This site appears to use a scroll-linked positioning effect."
### 1. Summary

If Gemini Scrollbar enable for me, I get warning message in Firefox built-in console.

### 2. Steps to reproduce

I open official demonstration page — **<http://noeldelgado.github.io/gemini-scrollbar/>** → I open Firefox console.

### 3. Expected behavior

No warnings in console.

### 4. Actual behavior

[code]

![Warning](http://i.imgur.com/ofbN7Ap.png)

### 5. Environment

**Oper

[2017-05-01 17:57] Kristinita commented on #45
I'm sorry, I didn't notice folder `examples` in this repository. It would be nice, if you add link to it in repository description and gemini-scrollbar site, because another users can do not understand, where are the examples.

Now I solve the problem. Thanks.

[2017-05-01 17:57] #45 closed

[2017-05-18 13:51] andreicojea opened #48 "autoshow + nested"
Given a parent and a child container, both gemini enabled, both with `autoshow: true`, hovering the parent will show the child container scrollbars.

[2017-05-18 15:32] #48 closed

[2017-05-27 14:13] amaau opened #50 "bug: DONT_CREATE_GEMINI variable is shared between gemini instances"
if you create one gemini with DONT_CREATE_GEMINI false,
and then another with true,
the first one will be overridden, and it's update function will stop getting called.

[2017-06-05 23:04] devedge opened #51 "Using Gemini with Electron"
I'm designing an image viewing application in Electron, and I'm not sure if I'm setting up Gemini incorrectly, or it's simply not the right tool to use.

My app is designed, in part, to display images at 100% size with the application window perfectly proportionally scaled to them. However, the default chromium scrollbar creates a track ~20 pixels wide outside the DOM (# 1), and when I try to rest

[2017-06-09 16:15] noeldelgado commented on #51
hi @devedge, added some CSS to make it work https://jsfiddle.net/4cqbj8c0/9/

[2017-06-17 15:11] devedge commented on #51
Thanks! Yes that fixes my issue.

[2017-06-17 15:11] #51 closed

[2017-07-05 16:49] wnipper commented on #18
It seems like the native JS version of Gemini is dead.  There have been very few changes in the last 18mo, but the React version of Gemini's last update was a month ago.  It looks like the fix to this issue was included in React-Gemini v2.2.
https://github.com/noeldelgado/react-gemini-scrollbar/blob/master/CHANGELOG.md

[2017-07-05 20:09] noeldelgado commented on #18
@wnipper, this issue hasn't been fixed yet.

[2017-07-27 08:19] Kristinita opened #52 "[Question] Smooth scrolling, when clicking an anchor link"
### 1. Briefly

I don't understand, how I can use smooth scrolling, when I click an anchor link, if I use Gemini scrollbar.

### 2. Expected behavior

If I use code from [**this answer**](https://stackoverflow.com/a/7717572/5951529):

Source on Codepen — https://codepen.io/Kristinita/pen/NvqBPV .

Demonstration: ![Without Gemini](http://i.imgur.com/Ylet0S9.gif)

### 3. Actual behavior

Source — ht

[2017-07-27 13:56] noeldelgado commented on #52
Hi @Kristinita, does this work for you https://jsfiddle.net/05efmw1f/?

BTW, there is a similar issues regarding mixing gemini + jquery + smooth-scrolling (https://github.com/noeldelgado/gemini-scrollbar/issues/28).

Important bits:
- `new GeminiScrollbar({ element: document.body ...`
- `$( scrollbar.getViewElement() ).animate`
- `html { height: 100vh }`

If that works for you, how do you think th

[2017-08-02 01:46] noeldelgado commented on #52
@Kristinita, can this be closed?

[2017-08-02 04:19] Kristinita commented on #52
@noeldelgado , see [**issue**](https://github.com/eisbehr-/jquery.lazy/issues/98). I don't understand, how I can solve the problem.

Thanks.

[2017-08-24 10:18] neolectron commented on #27
still not resolved.

[2017-09-08 13:06] frlinw opened #54 "Zoom-out issue"
If you zoom-out, the native scrollbar become visible

[2017-09-12 12:02] frlinw commented on #54
Can be fixed with something like:
```clientWidth + (scrollbarWidth / window.devicePixelRatio)```

[2017-09-12 12:02] #54 closed

[2017-09-13 00:20] noeldelgado commented on #54
Nice, thanks for the info!

I made [**this small**](https://github.com/noeldelgado/dpr-change) module about 2 months ago with the plan of using it to fix this issue... but, I just haven't been able to do so, pretty busy with other stuff..

I'll definitely try your solution, or if you don't mind creating a PR 🙃, that would be pretty awesome too.

Thanks @frlinw, you're the best!

[2017-09-14 14:01] meefox commented on #18
Hey guys, any luck with this issue?

I also noticed if you try resize window in Firefox, native scrollbar become visible in some circumstances (maybe if width is odd)

[2017-09-15 11:09] vlukyanoff opened #55 "[Question] e.stopImmediatePropagatio() really need?"
Hi, @noeldelgado!

I can't use mouseDown event on block with gemini scrollbar because gemini call e.stopImmediatePropagation() in _startDrag function.
I know, stop propagation isn't best practice, because it changes standart behavios of the browser.
Maybe, is there way to avoid stop propogation in this case?

https://github.com/noeldelgado/gemini-scrollbar/blob/88c5d04b24051fb45581bbebe66ad3258ad1

[2017-09-16 12:17] frlinw commented on #54
I'm not using gemini-scrollbar, I built my own component for Vue (inspired by your logic) because I need some advanced autoresize capabilities

The fix should be quick

Save the original scrollbar size on init
https://github.com/noeldelgado/gemini-scrollbar/blob/master/index.js#L33
```return Math.round(sw * window.devicePixelRatio)```

Add the scrollbar width relative to devicePixelRatio
https://g

[2017-10-19 01:20] noeldelgado commented on #55
Hi @vlukyanoff, did #56 fix the issue? (v1.5.3)

[2017-10-19 04:57] vlukyanoff commented on #55
Hi @noeldelgado! Yes, it fixed the issue. Thank you!

[2017-10-19 05:13] vlukyanoff commented on #55
@noeldelgado, could you update dependency in https://github.com/noeldelgado/react-gemini-scrollbar please?

[2017-10-19 05:48] Guria commented on #55
I would be great if gemini-scrollbar were peerDependency of react-gemini-scrollbar to avoid such update needs.

[2017-10-20 18:32] noeldelgado commented on #55
@vlukyanoff done, thanks!

[2017-10-20 18:32] #55 closed

[2017-11-20 04:57] frumbert opened #57 "Chrome 62 not working for me, Firefox 57 ok"
I noticed chrome updated a few days ago to version 62(Version 62.0.3202.94 Official Build 64-bit, osx 10.12.6) and the scrolling seems to have stopped for me. Here I am scrolling up and down the page but the scrollbar won't activate. I can select text within the scrolling area, so I don't think it's a focus issue.

![screencap-chrome](https://user-images.githubusercontent.com/592257/33002873-ff773

[2017-11-28 05:16] noeldelgado commented on #57
Thanks for the report @frumbert! 🙌
I just checked and found an issue on my end, gh-page should be fixed now. 👍

[2017-11-28 05:16] #57 closed

[2018-03-21 07:54] Kristinita commented on #46
@noeldelgado , ping.

Can you see [**Stack Overflow question about gemini-scrollbar**](https://stackoverflow.com/q/49296892/5951529), when you will have a free time?

Thanks.

[2018-03-21 13:00] noeldelgado commented on #46
@Kristinita, I made a demo trying to answer your question on SO (I don't have a SO account 😟):
**demo:** https://codepen.io/anon/pen/bvqOGE

**4)** override gm-scroll-view's transform value, that will allow fixed position to work:
[Reason explained on this answer](https://stackoverflow.com/questions/15194313/transform3d-not-working-with-position-fixed-children/15256339#15256339)
[code]
**6.2)** I

[2018-03-21 15:49] Kristinita commented on #46
@noeldelgado ,

### 1. Summary

1. Scrolling only `main` element successful works for me.
1. I can't open anchors — scrollbar move to begin of page.

### 2. Steps to reproduce

I fork your pen — **<https://codepen.io/Kristinita/pen/JLWgvz>** → I made 1 change: I move `<h2 id="relevance">Relevance</h2>` in end of article.

I open **<https://s.codepen.io/Kristinita/debug/JLWgvz/nqMwveZBVOvk#relevanc

[2018-03-22 01:13] noeldelgado commented on #46
Sorry, I cannot check the debug mode, it says "This debug view expired". However I can see it's working on your fork, so, dunno.

[2018-03-22 04:51] Kristinita commented on #46
@noeldelgado ,

Your pen author is _Captain Anonymous_ → you not logged on Codepen. Debug mode works [**only for logged users**](https://blog.codepen.io/documentation/views/debug-view/). It free.

Thanks.

[2018-03-23 05:59] noeldelgado commented on #46
Since gemini will move all nodes into a different element the initial scroll position will be lost.
A workaround is to call the logic to scroll to the anchor after initializing the gemini instance.

**fork:** https://codepen.io/noeldelgado/pen/1a5c2193f5f40164f354f17bab24ecbd/
**debug mode:** https://s.codepen.io/noeldelgado/debug/1a5c2193f5f40164f354f17bab24ecbd#relevance

[2018-03-23 14:00] Kristinita opened #59 "bug(horisontal): Horisontal scrollbar, if click to last anchor"
### 1. Summary

If I click to last anchor in web page with gemini scrollbar:

    I get horizontal scrollbar in bottom of page.

In real projects I have same problem.

### 2. Steps to reproduce

I open **<https://s.codepen.io/noeldelgado/debug/1a5c2193f5f40164f354f17bab24ecbd>** page (it [**your pen**](https://github.com/noeldelgado/gemini-scrollbar/issues/46#issuecomment-375553755)) → I click to

[2018-03-26 07:54] Kristinita commented on #46
@noeldelgado, thanks, it works!

3 problems:

### 1. eslint

eslint output:

[code]

I can't find, how I can disable this error. my `.eslintrc.yml` file:

[code]

### 2. Horisontal scrollbar

See **#59**.

### 3. Default

Maybe, would be better move your changes by default, to [**`index.js`**](https://github.com/noeldelgado/gemini-scrollbar/blob/master/index.js), that user configuration file will

[2018-05-04 07:22] krysia-w opened #60 "[Question] Scrollbars for textarea"
Hi,
Is this plugin working for textareas? I can't seem to make it work, and since I know textareas are _special case_ I was looking for a plugin that did cover them. There are no limitations in your docs so I just assumed that they would work.

[2018-05-11 05:28] Kristinita opened #62 "question(usage): replace native scrollbar for tables"
### 1. Summary

I can't replace native table horizontal scrollbar, use gemini-scrollbar.

### 2. Example

I add table to example from my previous issues:

+ [**Source**](https://codepen.io/Kristinita/pen/Zoxryy)
+ [**Result**](https://s.codepen.io/Kristinita/debug/Zoxryy/dXkqBbDQYyZM)

I want to replace native horizontal scrollbar for tables.

### 3. Not helped

#### 3.1. Creating table element

I

[2018-06-11 18:40] gautamz07 commented on #62
@Kristinita can you make a [jsfiddle](https://jsfiddle.net/) example of what you are trying to do

[2018-08-06 21:36] takaturre commented on #44
Also was just gonna suggest this. Tho, with this line instead (in addition to this._startDrag(e)):
`this._prevPageY = this._naturalThumbSizeY * .5;`

[2019-06-13 10:15] Kristinita opened #64 "bug(compatibility): gemini-scrollbar + AddToAny"
(*Also, I notice AddToAny author*)

### 1. Summary

I can't use [gemini-scrollbar](https://noeldelgado.github.io/gemini-scrollbar/) + [AddToAny](https://www.addtoany.com/) default style. I have a critical bug: full web page not displayed correctly in most browsers.

I have expected behavior, if I use:

+ native browser scrollbar instead of gemini-scrollbar;
+ `a2a_floating_style`, not `a2a_default

[2019-06-13 12:32] Kristinita opened #65 "bug(compatibility): gemini-scrollbar + FancyBox"
*At first, I post this issue for [**FancyBox issue tracker**](https://github.com/fancyapps/fancybox/issues/2186), but FancyBox owner closed issue without solve.*

### 1. Summary

I click to image → make some actions in FancyBox menu (run slideshow for example):

    page scroll to top.

I have this behavior for [**Gemini scrollbar**](https://noeldelgado.github.io/gemini-scrollbar/) and no reproduc

[2020-08-24 18:54] 71GA commented on #18
Still not fixed...

[2022-08-26 16:28] Kristinita opened #69 "bug(lazy-loading): gemini-scrollbar prevent native lazy loading for iframes"
### 1. Summary

[**Native `iframe` lazy-loading**](https://addyosmani.com/blog/lazy-loading/) doesn’t work for [**browsers, that support it without polyfill**](https://caniuse.com/?search=lazy) if I use gemini-scrollbar.

### 2. Steps to reproduce

1. Open the `Network` section of browser developer tools.
1. Open URL of the MCVE file.
1. Scroll MCVE file to the bottom and look at Network requests.

[2022-08-30 03:01] noeldelgado commented on #69
Thanks for the detailed report!

It might be related to the library updating the DOM structure at runtime. To prevent this, would it work for you to provide the required HTML structure up-front and use the `createElements: false` option? I did some quick tests and it seems to work as expected.

[code]

[2022-09-04 14:24] Kristinita commented on #69
**Status: CONFIRMED** :heavy_check_mark:

### 1. Behavior

Lazy loading for iframes successfully works for me in MCVE and real examples if `createElements: false`.

I have tested the behavior in all the above browsers.

### 2. Default implementation

Currently, the native HTML lazy loading feature [**described in the specification**](https://html.spec.whatwg.org/multipage/urls-and-fetching.html#la